.FormContainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../public/gradienta-LeG68PrXA6Y-unsplash.jpg");
    background-size: cover;
    z-index: -1;
}

.FormContainer_Content  {
    width: 500px;
    height:fit-content(auto);
    padding: 2% 2% 2% 2%;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FormContainer_Content {
    background-color: rgba(0, 0, 0, 0.7);
    max-height: 95vh;
}
